<div class="feed-container">
  <div class="feed-header">
    <button mat-button color="primary">Créer un article</button>

    <mat-form-field appearance="fill">
      <mat-label>Trier par</mat-label>
      <mat-select>
        <mat-option value="recent">Plus récent</mat-option>
        <mat-option value="ancien">Plus ancien</mat-option>
      </mat-select>
    </mat-form-field>

    
  </div>

  <div class="feed-grid">
    <div class="article-card" *ngFor="let article of articles">
      <h3>Titre de l’article</h3>
      <div class="meta">
        <span>
          <strong>Date</strong>
          {{ article.createdAt | date:'mediumDate' }}
        </span>
        <span>
          <strong>Auteur</strong>
          {{ article.author.username }}
        </span>
      </div>
      <p class="content">
        {{ article.content | slice:0:150 }}...
      </p>
    </div>
  </div>
</div>
