<div class="create-container">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  
    <h2>Créer un nouvel article</h2>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="articleForm">
      <mat-form-field appearance="outline">
        <mat-label>Sélectionner un thème</mat-label>
        <mat-select formControlName="topicId" required>
          <mat-option *ngFor="let topic of topics" [value]="topic.id">
            {{ topic.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Titre de l’article</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Contenu de l’article</mat-label>
        <textarea matInput rows="6" formControlName="content" required></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">
        Créer
      </button>
    </form>
  </div>
  